<!DOCTYPE html>
<html>
<head>
  <title>StartUp</title>
</head>
<body>

  <h2>Add new expense</h2>

  <form method="POST" action="/expenses/add">
    <label for="account">From account:</label><br>
    <input type="text" id="account" name="account"><br><br>
    <label for="amount">Amount:</label><br>
    <input type="text" id="amount" name="amount"><br><br>
    <label for="date">Date:</label><br>
    <input type="text" id="date" name="date" value="24.08.1989"><br><br>
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category" value="Transport"><br><br>

    <input type="submit" value="Submit">
  </form>


</body>
</html>
